<section id="content">


    <section class="hero relative">

        <div class="block relative mobile-hidden">
            <a href="https://www.starbucks.com.cn/menu/#lto-items"> <img
                    src="./index_files/banner-1.jpg" class="img">
            </a>
        </div>
        <div class="block relative show-mobile tablet-hidden">
            <a href="https://www.starbucks.com.cn/menu/#lto-items"> <img
                    src="./index_files/banner-1-mobile.jpg" class="img">
            </a>
        </div>

        <div class="wrapper">
            <h2>遇见秋日灵感</h2>
            <p class="text description" style="padding: 0 20px">
                秋风渐起，落叶满地，你开始期待繁琐的日常中出现一些惊喜。于是，我们带来了万众星粉期待的南瓜丝绒拿铁，以及星级咖啡师秋日新作枫糖可芮奇诺。这个秋日，用全新的灵感，与你一起遇见别样的咖啡体验。
            </p>
        </div>
    </section>
    <section class="featured-items">
        <div class="item">
            <div class="mobile-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img src="./index_files/banner-2.jpg"
                                                class="img">
                </a>
                <div class="description text wrapper">
                    <h2>唤醒新一天</h2>
                    <p>有趣创意的DIY早餐，香酥吐司、浓郁抹酱、趣味调料的随心搭配，用每天不重样的选择唤醒繁忙的早晨，扫走初秋的倦意。</p>
                </div>
            </div>
            <div class="show-mobile tablet-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img
                        src="./index_files/banner-2-mobile.jpg" class="img">
                </a>
                <div class="description text wrapper collapsed">
                    <h2>唤醒新一天</h2>
                    <div class="body">
                        <p>有趣创意的DIY早餐，香酥吐司、浓郁抹酱、趣味调料的随心搭配，用每天不重样的选择唤醒繁忙的早晨，扫走初秋的倦意。</p>
                    </div>
                    <span class="icon"></span>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="mobile-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img src="./index_files/banner-3.jpg"
                                                class="img">
                </a>
                <div class="description text wrapper">
                    <h2>秋日下午茶，陪伴咖啡好时光</h2>
                    <p>初秋的下午茶新推荐，让外型萌趣的全新蛋糕，为枯燥的生活增添一份乐趣，给秋日慵懒的午后带来甜甜的幸福感。</p>
                </div>
            </div>
            <div class="show-mobile tablet-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img
                        src="./index_files/banner-3-mobile.jpg" class="img">
                </a>
                <div class="description text wrapper collapsed">
                    <h2>秋日下午茶，陪伴咖啡好时光</h2>
                    <div class="body">
                        <p>初秋的下午茶新推荐，让外型萌趣的全新蛋糕，为枯燥的生活增添一份乐趣，给秋日慵懒的午后带来甜甜的幸福感。</p>
                    </div>
                    <span class="icon"></span>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="mobile-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img src="./index_files/banner-4.jpg"
                                                class="img">
                </a>
                <div class="description text wrapper">
                    <h2>童话与梦幻的珍藏</h2>
                    <p>
                        几米绘本《月亮忘记了》联名会员星礼包，几米老师温暖而细腻的画风温暖无数人的内心，如秋季一杯咖啡添来的一份暖意。20周年纪念版人鱼系列星礼包最终款——流连辗转会员星礼包，四季人鱼与大海的故事璀璨而温暖。</p>
                </div>
            </div>
            <div class="show-mobile tablet-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img
                        src="./index_files/banner-4-mobile.jpg" class="img">
                </a>
                <div class="description text wrapper collapsed">
                    <h2>童话与梦幻的珍藏</h2>
                    <div class="body">
                        <p>
                            几米绘本《月亮忘记了》联名会员星礼包，几米老师温暖而细腻的画风温暖无数人的内心，如秋季一杯咖啡添来的一份暖意。20周年纪念版人鱼系列星礼包最终款——流连辗转会员星礼包，四季人鱼与大海的故事璀璨而温暖。</p>
                    </div>
                    <span class="icon"></span>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="mobile-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img src="./index_files/banner-5.jpg"
                                                class="img">
                </a>
                <div class="description text wrapper">
                    <h2>咖啡星象与宇宙魔力杯</h2>
                    <p>小兔子带着期盼踏上宇宙，和你一起徜徉感受宇宙星空的星象幻化，一起碰撞咖啡宇宙的无限可能性，解锁咖啡星象的浪漫故事，带来更多的中秋惊喜。</p>
                </div>
            </div>
            <div class="show-mobile tablet-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img
                        src="./index_files/banner-5-mobile.jpg" class="img">
                </a>
                <div class="description text wrapper collapsed">
                    <h2>咖啡星象与宇宙魔力杯</h2>
                    <div class="body">
                        <p>小兔子带着期盼踏上宇宙，和你一起徜徉感受宇宙星空的星象幻化，一起碰撞咖啡宇宙的无限可能性，解锁咖啡星象的浪漫故事，带来更多的中秋惊喜。</p>
                    </div>
                    <span class="icon"></span>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="mobile-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img src="./index_files/banner-6.jpg"
                                                class="img">
                </a>
                <div class="description text wrapper">
                    <h2>告别夏季，品味秋日的醇香</h2>
                    <p>融合了来自于苏门答腊咖啡豆柔和的草本风味，与危地马拉安提瓜独特香料风味的秋日综合咖啡豆，让相聚在一起庆祝佳节的亲朋好友都一同沉醉在它美妙的风味中。</p>
                </div>
            </div>
            <div class="show-mobile tablet-hidden">
                <a href="https://www.starbucks.com.cn/menu/#lto-items"
                   class="block relative"> <img
                        src="./index_files/banner-6-mobile.jpg" class="img">
                </a>
                <div class="description text wrapper collapsed">
                    <h2>告别夏季，品味秋日的醇香</h2>
                    <div class="body">
                        <p>融合了来自于苏门答腊咖啡豆柔和的草本风味，与危地马拉安提瓜独特香料风味的秋日综合咖啡豆，让相聚在一起庆祝佳节的亲朋好友都一同沉醉在它美妙的风味中。</p>
                    </div>
                    <span class="icon"></span>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="mobile-hidden">
                <a
                        href="https://www.starbucks.com.cn/stores/?features=reserve&amp;bounds=121.432893%2C31.203475%2C121.468599%2C31.228102"
                        class="block relative"> <img src="./index_files/banner-7.jpg"
                                                     class="img">
                </a>
                <div class="description text wrapper">
                    <h2>别样灵感，探索秋之臻选</h2>
                    <p>
                        从非洲产区埃塞俄比亚启程，品尝富有薰衣草香气的比塔庄园咖啡豆；穿越大西洋来到拉丁美洲产区的哥伦比亚，在圣洛克蒙克斯咖啡豆中聆听修道院旁的咖啡故事；最后回到亚洲太平洋产区，在苏门答腊瓦哈纳庄园中捕捉浓郁的花香和草本香气。</p>
                </div>
            </div>
            <div class="show-mobile tablet-hidden">
                <a
                        href="https://www.starbucks.com.cn/stores/?features=reserve&amp;bounds=121.432893%2C31.203475%2C121.468599%2C31.228102"
                        class="block relative"> <img
                        src="./index_files/banner-7-mobile.jpg" class="img">
                </a>
                <div class="description text wrapper collapsed">
                    <h2>别样灵感，探索秋之臻选</h2>
                    <div class="body">
                        <p>
                            从非洲产区埃塞俄比亚启程，品尝富有薰衣草香气的比塔庄园咖啡豆；穿越大西洋来到拉丁美洲产区的哥伦比亚，在圣洛克蒙克斯咖啡豆中聆听修道院旁的咖啡故事；最后回到亚洲太平洋产区，在苏门答腊瓦哈纳庄园中捕捉浓郁的花香和草本香气。</p>
                    </div>
                    <span class="icon"></span>
                </div>
            </div>
        </div>

    </section>

    <section class="lto-items wrapper" id="lto-items">
        <h2>所有新品</h2>
        <div class="grid columns-3 padded-2">


            <div class="item" style="height: 306px;">
                <img src="./index_files/pumpkin-spice-latte.png">
                <p>南瓜丝绒拿铁</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/maple-creamaccino.png">
                <p>枫糖可芮奇诺</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/lucky-paw-raspberry-cake.png">
                <p>杏运萌爪树莓蛋糕</p>
            </div>


            <div class="item" style="height: 305px;">
                <img src="./index_files/caramel-hazelnuts-bear-cake.png">
                <p>熊仔焦糖榛子蛋糕</p>
            </div>


            <div class="item" style="height: 305px;">
                <img src="./index_files/autumn-blend.png">
                <p>秋日综合咖啡豆</p>
            </div>


            <div class="item" style="height: 305px;">
                <img src="./index_files/colombia-monks-of-san-roque.png">
                <p>哥伦比亚圣洛克蒙克斯咖啡豆</p>
            </div>


            <div class="item" style="height: 357px;">
                <img src="./index_files/ethiopia-bitta-farm.png">
                <p>埃塞俄比亚比塔庄园咖啡豆</p>
            </div>


            <div class="item" style="height: 357px;">
                <img src="./index_files/sumatra-wahana-estate.png">
                <p>苏门答腊瓦哈纳庄园咖啡豆</p>
            </div>


            <div class="item" style="height: 357px;">
                <img src="./index_files/siren-forward-sr-kits-set.png">
                <p>人鱼系列特别套装：流连辗转会员星礼包,随卡附赠四季人鱼磁贴一套（共4枚）</p>
            </div>


            <div class="item" style="height: 357px;">
                <img
                        src="./index_files/jimmy-crossover-sr-kits-collection-street.png">
                <p>几米联名《月亮忘记了》会员星礼包系列-街头款，随卡附赠立体拼图模型一套</p>
            </div>


            <div class="item" style="height: 357px;">
                <img src="./index_files/jimmy-crossover-sr-kits-collection-ye.png">
                <p>几米联名《月亮忘记了》会员星礼包系列-夜色款，随卡附赠立体拼图模型一套</p>
            </div>


            <div class="item" style="height: 357px;">
                <img src="./index_files/mer-1.png">
                <p>12oz玉兔仰望星空款马克杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-2.png">
                <p>14oz星空款保温杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-3.png">
                <p>20oz星空款不锈钢吸管杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-4.png">
                <p>12oz星空款杯碟组合</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-5.png">
                <p>粉彩小兔款水桶包套装</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-6.png">
                <p>12oz长耳萌兔款马克杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-7.png">
                <p>萌兔造型入油杯垫</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-8.png">
                <p>8oz萌兔款塑料随行杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-9.png">
                <p>16oz兔纹塑料吸管杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-10.png">
                <p>12oz兔纹不锈钢拎绳保温杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-11.png">
                <p>12oz绒毛萌兔款双层陶瓷杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-12.png">
                <p>8oz月球萌兔款马克杯组</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-13.png">
                <p>9oz萌兔双层玻璃杯</p>
            </div>


            <div class="item" style="height: 331px;">
                <img src="./index_files/mer-14.png">
                <p>260ml膳魔师银色星河款便当盒</p>
            </div>


            <div class="item" style="height: 331px;">
                <img src="./index_files/mer-15.png">
                <p>350ml膳魔师萌兔款保温杯</p>
            </div>


            <div class="item" style="height: 331px;">
                <img src="./index_files/mer-16.png">
                <p>310ml幻彩印章款马克杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-17.png">
                <p>8oz萌兔款带杯刷双层玻璃杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-18.png">
                <p>8oz中秋小夜灯款玻璃杯组</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-19.png">
                <p>15oz绚烂中秋萌兔款冷水瓶</p>
            </div>


            <div class="item" style="height: 305px;">
                <img src="./index_files/mer-20.png">
                <p>13oz梦幻渐变款不锈钢随行杯</p>
            </div>


            <div class="item" style="height: 305px;">
                <img src="./index_files/mer-21.png">
                <p>12oz绚烂星空款保温瓶</p>
            </div>


            <div class="item" style="height: 305px;">
                <img src="./index_files/mer-22.png">
                <p>12oz兔绒毛杯垫组</p>
            </div>


            <div class="item" style="height: 331px;">
                <img src="./index_files/mer-23.png">
                <p>13oz快乐转圈萌兔款不锈钢双层杯</p>
            </div>


            <div class="item" style="height: 331px;">
                <img src="./index_files/mer-24.png">
                <p>370ml膳魔师月球奇妙相遇款保温杯礼盒</p>
            </div>


            <div class="item" style="height: 331px;">
                <img src="./index_files/mer-25.png">
                <p>225ml热气球款双层玻璃杯</p>
            </div>


            <div class="item" style="height: 330px;">
                <img src="./index_files/mer-26.png">
                <p>月球造型杯壶组</p>
            </div>


            <div class="item" style="height: 330px;">
                <img src="./index_files/mer-27.png">
                <p>300ml月球探险款变色马克杯</p>
            </div>


            <div class="item" style="height: 330px;">
                <img src="./index_files/mer-28.png">
                <p>370ml月球探险款带搅拌勺马克杯组</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-29.png">
                <p>12oz咖啡月兔款不锈钢保温杯</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-30.png">
                <p>10oz月球探险款马克杯套装</p>
            </div>


            <div class="item" style="height: 306px;">
                <img src="./index_files/mer-31.png">
                <p>13oz月球探险热气球款玻璃杯</p>
            </div>


            <div class="item" style="height: 305px;">
                <img src="./index_files/mer-32.png">
                <p>月球探险款八音盒</p>
            </div>


        </div>
    </section>

    <script type="text/javascript">
        var collapsibles = document
            .querySelectorAll('.featured-collapsible');
        for (var i = 0; i < collapsibles.length; i++) {
            var collapsible = collapsibles[i];
            collapsible.addEventListener('click', function (event) {
                if (!this.classList.contains('featured-collapsible')) {
                    return;
                }
                this.classList.toggle('collapsed');
                this.classList.toggle('expanded');
            });
        }

        function countLines(index) {
            var dom = collapsibles[index].querySelector('.body p');
            var divHeight = dom.offsetHeight;
            var lineHeight = 25;
            var lineCount = Math.round(divHeight / lineHeight);
            return lineCount;
        }

        // If a text has only two lines, remove the toggle icon
        function toggleCollapsible() {
            for (var i = 0; i < collapsibles.length; i++) {
                var collapsible = collapsibles[i];
                var classList = collapsible.classList;
                var lineCount = countLines(i);
                if (lineCount > 2) {
                    if (!classList.contains('featured-collapsible')) {
                        classList.add('featured-collapsible');
                    }
                } else {
                    classList.remove('featured-collapsible');
                }
            }
        }

        toggleCollapsible();
        window.addEventListener('resize', toggleCollapsible);

        function resizeLtoItems() {
            // So that the old style won't effect the re-calc, which is needed when
            // 1. New content such as images are loaded
            // 2. Window resize
            cleanLtoItemsStyle();
            var ltoItems = document
                .querySelectorAll('.lto-items .item');
            // There are some lot items invisable due to the mobile/desktop styling
            var visibleLtoItems = [];
            for (var i = 0; i < ltoItems.length; i++) {
                if (ltoItems[i].offsetHeight) {
                    visibleLtoItems.push(ltoItems[i]);
                }
            }
            if (visibleLtoItems.length === 0)
                return;
            var itemsPerRow = 1;
            while (visibleLtoItems[itemsPerRow]
            && visibleLtoItems[itemsPerRow - 1]
            && visibleLtoItems[itemsPerRow].offsetTop == visibleLtoItems[itemsPerRow - 1].offsetTop) {
                itemsPerRow++;
            }
            var rows = [];
            // This while transform visibleLtoItems to rows
            while (visibleLtoItems.length) {
                var counter = itemsPerRow;
                var tempArr = [];
                while (counter--) {
                    if (visibleLtoItems[0]) {
                        tempArr.push(visibleLtoItems.shift());
                    }
                }
                rows.push(tempArr);
            }
            // This for walk through every row and assign the height
            for (var i = 0; i < rows.length; i++) {
                // ClientHeight is element height which doesn't count margin
                var heightMax = rows[i][0].clientHeight;
                for (var j = 1; j < rows[i].length; j++) {
                    if (rows[i][j].clientHeight > heightMax)
                        heightMax = rows[i][j].clientHeight;
                }
                for (var j = 0; j < rows[i].length; j++) {
                    rows[i][j].style.height = heightMax + 'px';
                }
            }
            requestAnimationFrame(resizeLtoItems);
        }

        requestAnimationFrame(resizeLtoItems);

        function cleanLtoItemsStyle() {
            var ltoItems = document
                .querySelectorAll('.lto-items .item');
            for (var i = 0; i < ltoItems.length; i++) {
                ltoItems[i].style.height = 'auto';
            }
        }
    </script>

    <div class="overlay" id="menu-search-overlay">
        <header class="header">
            <button class="icon close">Close</button>
        </header>
        <div class="body">
            <div class="field search">
                <img src="./index_files/icon-search.svg" class="icon"> <input
                    type="text" id="menu-search-input" placeholder="搜索菜单">
            </div>
            <div id="menu-search-empty">
                <div class="tag">大家都在搜</div>
            </div>
            <ul class="grid columns-4 padded-2" id="menu-search-results">
                <li><a class="overlay-close thumbnail"
                       href="https://www.starbucks.com.cn/menu/beverages/espresso/caramel-macchiato/">
                    <div class="preview circle"
                         style="background-image: url(/images/products/caramel-macchiato.jpg)"></div>
                    <strong>焦糖玛奇朵（热/冷）</strong>
                </a></li>
                <li><a class="overlay-close thumbnail"
                       href="https://www.starbucks.com.cn/menu/coffee/whole-bean/medium-roast/starbucks-breakfast-blend/">
                    <div class="preview circle"
                         style="background-image: url(/images/breakfast-blend-coffee-beans.png)"></div>
                    <strong>星巴克®早餐综合咖啡豆</strong>
                </a></li>
                <li><a class="overlay-close thumbnail"
                       href="https://www.starbucks.com.cn/menu/coffee/whole-bean/medium-roast/starbucks-house-blend/">
                    <div class="preview circle"
                         style="background-image: url(/images/house-blend-coffee-beans.png)"></div>
                    <strong>星巴克®首选咖啡豆</strong>
                </a></li>
                <li><a class="overlay-close thumbnail"
                       href="https://www.starbucks.com.cn/menu/coffee/whole-bean/medium-roast/starbucks-kenya/">
                    <div class="preview circle"
                         style="background-image: url(/images/kenya-coffee-beans.png)"></div>
                    <strong>星巴克®肯亚咖啡豆</strong>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="frap">
        <button id="featured-campaign-search" class="button primary trigger"
                rel="menu-search-overlay">搜索菜单
        </button>
    </div>


    <div id="app-notification">
        <div data-reactroot=""></div>
    </div>
</section>